@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'quran';

  --color-primary: #0f766e;
  --color-primary-content: #f8faf8;

  --color-secondary: #c8a95b;
  --color-secondary-content: #1f2937;

  --color-accent: #1d4d4f;
  --color-accent-content: #f8fafc;

  --color-neutral: #1f2937;
  --color-neutral-content: #f9fafb;

  --color-base-100: #f8f7f2;
  --color-base-200: #f1efe8;
  --color-base-300: #e7e3d8;
  --color-base-content: #1f2937;

  --color-info: #3b82f6;
  --color-success: #15803d;
  --color-warning: #d97706;
  --color-error: #dc2626;
}